<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div>
  <% guilds.forEach(guild => { %>
    <%- include('partials/guild', { guild, permissions }) -%>
  <% }) %>
</div>
<%- include('partials/footer') -%>
