<%- include('partials/header') -%>
  <div class="my-button">
    <form action="/auth">
      <button class="button is-primary is-rounded is-large custom-button" type="submit">Login with Discord</button>
    </form>
  </div>
<%- include('partials/footer') -%>